
body {
  width: 960px;
  margin: auto;
}

canvas {
  background-color: black;
}

pre {
  background-color: lightgrey;
  margin: 50px auto 50px auto;
}

#center {
  padding: 0;
  margin: 50px auto 50px auto;
  width: 960px;
  height: 500px;
}

#center2 {
  padding: 0;
  margin: 50px auto 50px auto;
  width: 960px;
  height: 500px;
}

#center3 {
  padding: 0;
  margin: 50px auto 50px auto;
  width: 960px;
  height: 500px;
}

#center4 {
  padding: 0;
  margin: 50px auto 50px auto;
  width: 960px;
  height: 500px;
}

#center5 {
  padding: 0;
  margin: 50px auto 50px auto;
  width: 960px;
  height: 500px;
}
